html, body {
    height: 100%;
    width: 100%;
  }
  
  
  h1 {
    text-align: center;
    color: #FF4C29;
  }
  
  body {
    background-color: #2C394B;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
  }

  .icon{
    color: #ffcb4c;
  }
  
  button {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 10px solid #FF4C29;
    background-color: #334756;
    font-size: 6rem;
    text-align: center;

  }
  
  button:hover {
    cursor: pointer;
  }
  
  .stats {
    color: #FF4C29;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 35px;
  }
  
  
  
  @media (max-width: 765px) {
  .container {
    flex-direction: column;
    margin: 0;
    align-items: center; 
  
  
  }
    button {
      margin: 35px;
    }
  
  
  }